body {
    margin: 60px 80px;
    background-image: url(sea.jpg);
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #6d1212;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.container {
    width: 275px;
    height: 325px;
    background-color: #ccc;
    border: 2px solid #6d1212;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    color: #6d1212;
    box-shadow: 3px 3px 4px #000;
    text-align: center;
}
.container a{
        text-decoration: none;
}
.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
@media (max-width:768px) {
    .footer-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
      }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}